- title website_name: @website.name, branch_name: @branch.title(current_user)

= layout :branch, website: @website, repository: @repository, branch: @branch, deployment: @deployment do
  .alert.alert-warning
    h1.h5: em Collection Support Coming Soon
