- title "Design • #{@branch.name}"

= render partial: 'websites/header', locals: { website: @website }
= render partial: 'branches/header', locals: { website: @website, repository: @repository, branch: @branch }
= render partial: 'branches/nav', locals: { website: @website, branch: @branch }

.alert.alert-warning
  h1.h5: em Layout &amp; Design Coming Soon
