.well.text-center
  p: strong These branches have diverged. Please perform any merges outside of Static Website Manager.
  p: small We’re sorry for the inconvenience; a merge conflict editor is coming soon.
