.alert-full-width {
  border: none;
  border-bottom: solid 1px rgba(0,0,0,0.05);
  border-radius: 0;
  margin-bottom: 0;
  text-align: center;
  &.alert-dismissible {
    padding-right: 15px;
    .close {
      right: 0;
    }
  }
}

.alert-text {
  font-size: 1.25em;
  .btn {
    margin-left: 0.4em;
    position: relative;
    top: -0.1em;
  }
  @include small {
    font-size: 1em;
  }
}
