.branch-header {
  @extend .well;
  @extend .well-sm;
  li.active a .text-muted {
    color: rgba(255,255,255,0.9);
  }
  .code.pull-right {
    font-size: 0.9em;
    margin-top: 0.5em;
  }
  @include large {
    hr {
      display: none;
    }
  }
}

.branch-nav {
  margin-bottom: 2em !important;
  @include small {
    padding: 0;
    font-size: 0.9em;
    border: solid 1px #eee;
    border-radius: 4px;
    li {
      display: block;
      float: none;
      margin: 0 !important;
      border-bottom: solid 1px #eee;
    }
    a {
      margin: 0 !important;
      border: none !important;
      border-radius: 0 !important;
    }
    a:hover {
      background-color: #f8f8f8;
    }
    li.active a {
      background-color: #f8f8f8;
      box-shadow: 0 0 1em #eee inset;
      font-weight: bold;
    }
  }
}

.branch-production-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: red;
}
