.cell-icon {
  width: 1em;
  padding-right: 0 !important;
}

.cell-name {
  padding-left: 0.35em !important;
}

.cell-commit-message {
  text-align: right;
  padding-right: 0 !important;
}

.cell-commit-id {
  width: 5.7em;
}
