.commits {
  li {
    padding: 0.5em 0;
    border-bottom: solid 1px #ddd;
    line-height: 1.35;
    span.fa-dot-circle-o {
      margin-top: 0.35em;
    }
    p {
      line-height: 1.35;
      margin: 0 0 0 1.25em;
      span {
        font-size: 1.15em;
      }
    }
  }
  li:last-child {
    border: none;
  }
}
