.credit_card-number {
  position: relative;
  p {
    @extend .text-info;
    font-size: 1.8em;
    @include large {
      position: absolute;
      top: 0.98em;
      right: 0.8em;
    }
    .fa {
      margin-left: 0.1em;
    }
  }
  input[type="text"] {
    padding-right: 12em;
  }
}

.credit_card-cvc {
  @include small {
    margin-top: -1.5em;
    max-width: 50%;
  }
  @include large {
    padding-left: 0;
  }
}

.credit_card-expiration {
  @include small {
    margin-top: 1em;
  }
  @include large {
    position: relative;
    top: -1.5em;
  }
}
