.credit_card-number {
  position: relative;
  p {
    @extend .text-info;
    position: absolute;
    right: 0.3em;
    margin-top: 0.95em;
    font-size: 1.8em;
    .fa {
      margin-left: 0.1em;
    }
  }
  input[type="text"] {
    padding-right: 12em;
  }
}

.credit_card-expiration {
  position: relative;
  top: -1.5em;
}
