.editor-container {
  position: relative;
}

.editor-header {
  margin-bottom: 2em;
  padding-top: 0.5em;
  background-color: #eee;
  .logo-small-back-container {
    position: absolute;
    top: 0.9em;
    left: 1.3em;
  }
  .container-fluid {
    padding: 0;
  }
  ul {
    margin-bottom: 0;
    margin-bottom: 0;
    li:first-child {
      margin-left: 5.5em;
    }
    a {
      outline: none;
    }
  }
}

.editor-content {
  h1 {
    margin: 0;
    font-size: 1.8em;
  }
  h1 + code {
    display: inline-block;
    margin: 0.5em 0 3em;
  }
}

.editor-save-btn {
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.editor-message-input {
  position: absolute;
  top: 0.6em;
  right: 11em;
  width: 29em;
}
