.header {
  @include clearfix;
  margin: 1em 0 2em;
  h1, p {
    margin: 0;
  }
  p + p {
    margin-top: 0.2em;
  }
  .btn-group + .btn-group {
    margin-left: 1em;
  }
  .fa-angle-double-right {
    color: #999;
    vertical-align: 0%;
    font-size: 1.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  .label-warning {
    position: relative;
    top: -1em;
    left: 0.25em;
    font-size: 0.7em;
  }
}

.header-nav {
  color: #ddd;
  .btn {
    padding: 0.4em 0.8em;
  }
  .btn-selected {
    background: #eee;
    font-weight: normal;
    color: #000;
  }
  .fa {
    position: relative;
    top: 0.1em;
    left: -0.75em;
  }
  @include small {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: solid 1px #eee;
    text-align: right;
    .btn {
      padding: 0.3em 0.6em;
      font-size: 0.9em;
    }
    .btn-primary {
      margin-left: 0.5em;
    }
  }
  @include large {
    float: right;
  }
}

.header-buttons {
  float: right;
  @include small {
    float: none;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px #eee;
    text-align: right;
  }
}

.header-center {
  text-align: center;
  margin: 2em 0 4em;
}
