.label-page {
  background-color: $brand-primary;
}

.label-draft {
  background-color: $brand-warning;
}

.label-post {
  background-color: $brand-success;
}

.label-file {
  background-color: $brand-danger;
}
