.m-t-0 { margin-top: 0; }
.m-r-0 { margin-right: 0; }
.m-b-0 { margin-bottom: 0; }
.m-l-0 { margin-left: 0; }
.m-x-0 { margin-left: 0; margin-right: 0; }
.m-y-0 { margin-top: 0; margin-bottom: 0; }
.m-a-0 { margin: 0; }

.m-t-xs { margin-top: 0.2em; }
.m-r-xs { margin-right: 0.2em; }
.m-b-xs { margin-bottom: 0.2em; }
.m-l-xs { margin-left: 0.2em; }
.m-x-xs { margin-left: 0.2em; margin-right: 0.2em; }
.m-y-xs { margin-top: 0.2em; margin-bottom: 0.2em; }
.m-a-xs { margin: 0.2em; }

.m-t-sm { margin-top: 0.5em; }
.m-r-sm { margin-right: 0.5em; }
.m-b-sm { margin-bottom: 0.5em; }
.m-l-sm { margin-left: 0.5em; }
.m-x-sm { margin-left: 0.5em; margin-right: 0.5em; }
.m-y-sm { margin-top: 0.5em; margin-bottom: 0.5em; }
.m-a-sm { margin: 0.5em; }

.m-t { margin-top: 1em; }
.m-r { margin-right: 1em; }
.m-b { margin-bottom: 1em; }
.m-l { margin-left: 1em; }
.m-x { margin-left: 1em; margin-right: 1em; }
.m-y { margin-top: 1em; margin-bottom: 1em; }
.m-a { margin: 1em; }

.m-t-md { margin-top: 1.5em; }
.m-r-md { margin-right: 1.5em; }
.m-b-md { margin-bottom: 1.5em; }
.m-l-md { margin-left: 1.5em; }
.m-x-md { margin-left: 1.5em; margin-right: 1.5em; }
.m-y-md { margin-top: 1.5em; margin-bottom: 1.5em; }
.m-a-md { margin: 1.5em; }

.m-t-lg { margin-top: 3em; }
.m-r-lg { margin-right: 3em; }
.m-b-lg { margin-bottom: 3em; }
.m-l-lg { margin-left: 3em; }
.m-x-lg { margin-left: 3em; margin-right: 3em; }
.m-y-lg { margin-top: 3em; margin-bottom: 3em; }
.m-a-lg { margin: 3em; }
