.marketing-lead {
  font-size: 3em;
  font-family: $font-family-serif;
  @include small {
    font-size: 2em;
  }
}

.marketing-description {
  max-width: 40em;
  margin: 1em auto;
  font-size: 1.35em;
  line-height: 1.35;
  @include small {
    font-size: 1.2em;
  }
}

.marketing-heading {
  font-size: 1.4em;
  font-weight: bold;
}

.marketing-subheading {
  font-size: 1.15em;
}

.marketing-feature {
  margin: 4em auto;
  max-width: 80em;
  padding-top: 2em;
  border-top: solid 2px #f6f6f6;
  text-align: left;
  h2 {
    margin: 0 0 1em;
    font-family: $font-family-serif;
    font-size: 2.5em;
    text-align: center;
  }
  p {
    margin: 0 0 2em;
    font-size: 1.15em;
    line-height: 1.5;
  }
  img {
    display: inline-block;
    margin: 0 0 2em;
    max-width: 100%;
  }
  &:nth-child(odd) {
    .row > div:first-child {
      float: right;
    }
  }
}
