.marketing-lead {
  font-size: 4em;
  font-family: $font-family-serif;
  @include small {
    font-size: 2.5em;
  }
}

.marketing-description {
  max-width: 40em;
  margin: 1em auto;
  font-size: 1.35em;
  line-height: 1.5;
  @include small {
    font-size: 1.2em;
  }
}

.marketing-background {
  img {
    max-width: 100%;
  }
}

.marketing-jumbotron {
  margin: 4em 0;
  padding: 4em 0;
  background-color: #100D4A;
  color: #eee;
  text-shadow: #000;
  .panel {
    margin: 0;
    max-width: 1000px;
  }
  .panel-heading {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  img {
    max-width: 100%;
  }
}

.marketing-jumbotron-feature {
  margin: 0;
  padding: 1em;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: rgba(255,255,255,0.05);
  }
  &.active {
    background-color: rgba(255,255,255,0.2);
  }
  h2 {
    margin: 0;
    font-size: 1.35em;
  }
  p {
    margin: 0.5em 0 0;
    font-size: 0.85em;
  }
  &:not(.active) {
    color: rgba(255,255,255,0.5);
    h2 {
      color: rgba(255,255,255,0.7);
    }
  }
}

.marketing-heading {
  font-size: 1.4em;
  font-weight: bold;
}

.marketing-subheading {
  margin: 0.5em 0;
  font-size: 1.25em;
}

.marketing-feature {
  margin: 4em auto;
  max-width: 80em;
  padding-top: 2em;
  border-top: solid 2px #f6f6f6;
  text-align: left;
  h2 {
    margin: 0 0 1em;
    font-family: $font-family-serif;
    font-size: 2.5em;
    text-align: center;
  }
  p {
    margin: 0 0 2em;
    font-size: 1.15em;
    line-height: 1.5;
  }
  img {
    display: inline-block;
    margin: 0 0 2em;
    max-width: 100%;
  }
  &:nth-child(odd) {
    .row > div:first-child {
      float: right;
    }
  }
}
