.marketing-introduction {
  background-color: rgba(0,0,0,0.05);
  padding-bottom: 2em;
  margin-bottom: 4em;
  h1 {
    margin: 0;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
  }
  h2 {
    margin: 0.5em 0 2em;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.4;
  }
  h3 {
    margin: 0.5em 0 0;
    font-size: 1.15em;
  }
  .badge {
    font-size: 1.5em;
  }
}

.marketing-button {
  text-align: center;
  margin-top: 1em;
  margin-bottom: -3.5em;
}

.marketing-questions {
  h4 {
    font-weight: bold;
  }
}
