.pages {
  margin: 2em 0;
  padding: 0;
  list-style: none;
  overflow-x: auto;
  ul {
    position: relative;
    margin: 0 0 0 4em;
    padding: 0;
    list-style: none;
  }
  li {
    position: relative;
    display: block;
    margin: 0.8em 0;
    padding: 0;
  }
  ul:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    background-color: #eee;
    top: 0;
    bottom: 0;
    left: -2.6em;
  }
  ul {
    li:before {
      content: '';
      display: block;
      position: absolute;
      width: 2em;
      height: 2px;
      background-color: #eee;
      top: 3em;
      left: -2.6em;
    }
    li.page-tree:before {
      top: 1.4em;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin: -0.05em 0 0;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    @include small {
      font-size: 1.2em;
    }
  }
  code {
    display: block;
    margin: 0.3em 0 0;
    opacity: 0.4;
  }
  .panel {
    display: inline-block;
    margin: 0;
  }
  .panel-default {
    background-color: #f9f9f9;
  }
  .panel-body {
    padding: 0.75em 0.75em 0.5em;
    .fa {
      font-size: 3em;
      @include small {
        font-size: 2em;
      }
    }
    div {
      padding-left: 3.5em;
      @include small {
        padding-left: 2.5em;
      }
    }
  }
  .page-tree > .panel {
    color: #999;
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      font-size: 1em;
      @include small {
        font-size: 0.9em;
      }
    }
  }
  a:hover {
    code {
      opacity: 1.0;
    }
    .panel-default {
      background-color: #f5f5f5;
    }
  }
}
