.panel-body > *:only-child {
  margin-top: 0;
  margin-bottom: 0;
}

.panel-heading-sm {
  padding: 0.5em;
  .panel-title {
    font-size: 1.2rem;
  }
}

.panel-heading-nav-tabs {
  padding-bottom: 0;
  .nav-tabs {
    margin-bottom: -1px;
  }
  @include small {
    padding: 0.5em;
    .nav-tabs {
      padding: 0;
      font-size: 0.9em;
      background-color: #fff;
      border: solid 1px #eee;
      border-radius: 4px;
      li {
        display: block;
        float: none;
        margin: 0 !important;
        border-bottom: solid 1px #eee;
      }
      a {
        margin: 0 !important;
        border: none !important;
        border-radius: 0 !important;
      }
      a:hover {
        background-color: #f8f8f8;
      }
      li.active a {
        background-color: #f8f8f8;
        font-weight: bold;
      }
    }
  }
}

.panel-footer-commit {
  .form-group {
    margin: 0;
  }
  label {
    font-weight: normal;
  }
  .btn {
    margin-top: 1.7em;
  }
}

.panel-ribbon {
  margin: 1em -1.1em 1em -1.05em;
  padding: 0.3em 1.05em;
}
