.panel-body > *:only-child {
  margin-top: 0;
  margin-bottom: 0;
}

.panel-heading-sm {
  padding: 0.5em;
  .panel-title {
    font-size: 1.2rem;
  }
}

.panel-heading-nav-tabs {
  padding-bottom: 0;
  .nav-tabs {
    margin-bottom: -1px;
  }
}

.panel-footer-commit {
  .form-group {
    margin: 0;
  }
  label {
    font-weight: normal;
  }
  .btn {
    margin-top: 1.7em;
  }
}

.panel-ribbon {
  margin: 1em -1.1em 1em -1.05em;
  padding: 0.3em 1.05em;
}
