.panel-heading-sm {
  padding: 0.5em;
  .panel-title {
    font-size: 1.2rem;
  }
}

.panel-footer-commit {
  .form-group {
    margin: 0;
  }
  label {
    font-weight: normal;
  }
  .btn {
    margin-top: 1.7em;
  }
}
