---
---

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% asset_path application.css %}">
<title>{{ page.title }}</title>

<div class="container-fluid">
  <div class="header">
    <div class="header-nav">
      {% if page.url == '/features.html' %}<strong class="btn btn-selected">Features</strong>{% else %}<a href="/features" class="btn btn-link">Features</a>{% endif %}
      {% if page.url == '/pricing.html' %}<strong class="btn btn-selected">Pricing</strong>{% else %}<a href="/pricing" class="btn btn-link">Pricing</a>{% endif %}
      {% if page.url == '/roadmap.html' %}<strong class="btn btn-selected">Roadmap</strong>{% else %}<a href="/roadmap" class="btn btn-link">Roadmap</a>{% endif %} |
      <a href="/help" target="_blank" class="btn btn-link">Help</a> |
      <a href="/sign-in" class="btn btn-primary">Sign In</a>
    </div>
    <a href="/" class="logo-large"><img src="{% asset_path logo-large.png %}" alt="" /> <strong>Static Website Manager</strong></a>
  </div>

  <div class="text-center">
    {{ content }}
  </div>

  <div class="text-center">
    <hr>
    <p class="text-muted"><small><a href="/privacy">Privacy Policy</a> • <a href="/terms">Terms of Service</a> • Made with <span class="fa fa-heart" title="Love"></span> in Olympia, WA</small></p>
    </ul>
  </div>
</div>
