$font-family-sans-serif: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$font-family-serif: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'modules/**/*';

body {
  margin-bottom: 4em;
}
