- title website_name: @website.name, branch_name: @branch.title(current_user), filename: @draft.pretty_pathname

= layout :blob, website: @website, branch: @branch, blob: @draft, filename: @draft.pretty_pathname do
  = form_for [@website, @branch, @draft] do |form|
    = render partial: 'blobs/form', object: form, locals: { branch: @branch, placeholder: "Save changes to #{@draft.pretty_pathname}" }
